* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "bpdots";
    src: url("BPdotsSquareBold.otf");
    font-weight: normal;
    font-display: swap;
}

body, html {
    background: rgb(235 210 228);
    font-family: 'bpdots', 'Consolas', 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #0d0da5;
    cursor: url('cursor.png'), auto;
}

.notepad-container {
    max-width: 805px;
    min-width: 450px;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border-top: 2px solid #7981e0;
    border-left: 2px solid #7981e0;
    border-bottom: 3px solid #0d0da5;
    border-right: 3px solid #0d0da5;
}

.notepad {
    background: rgb(254, 139, 201);
    padding: 4px;
    max-width: 810px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgb(254, 247, 251);
    border-left: 3px solid rgb(254, 247, 251);
    border-bottom: 2px solid #7981e0;
    border-right: 2px solid #7981e0;
}

.title-bar {
    background: #829ef1;
    color: white;
    padding: 4px 8px;
    display: flex;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;
}

.title-bar .title {
    font-weight: bold;
}

.window-controls {
    display: flex;
}

.window-controls button {
    background: rgb(255, 188, 224);
    border: 1px solid #fff;
    color: #0d0da5;
    padding: 1px 6px;
    margin-left: 2px;
    cursor: url('cursor.png'), auto;
    font-weight: bold;
    font-size: 0.9em;
    width: 25px;
    height: 25px;
    border-top: 1px solid #dcdfff;
    border-left: 1px solid #dcdfff;
    border-bottom: 2px solid #0d0da5;
    border-right: 2px solid #0d0da5;
}

.menu-bar {
    background: rgb(254, 139, 201);
    border-bottom: 2px solid #7981e0;
    border-top: 2px solid rgb(246, 183, 216);
    border-left: 2px solid rgb(254, 139, 201);
    border-right: 2px solid rgb(254, 139, 201);
    padding: 4px 2px;
    font-size: 1em
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    padding: 2px 6px;
    margin-right: 2px;
}

.text-area {
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    border: none;
    padding: 8px 0 8px 8px;
    box-sizing: border-box;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
    height: 100%;
    min-height: 400px;
    border-left: 2px solid #7981e0;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    /* width: 587px; */
    word-break: break-all;
    white-space: pre-wrap;
    font-family: 'bpdots', 'Consolas', 'Courier New', Courier, monospace;
}


.text-area::-webkit-scrollbar-track {
    background-color: #ffffff;
}

/* Style the scrollbar thumb */
.text-area::-webkit-scrollbar-thumb {
    background: #829ef1;
    border-radius: 0;
    /* Makes it rectangular */
    border-right: 2px solid #0d0da5;
    border-bottom: 2px solid #0d0da5;
    border-top: 2px solid #dcdfff;
    border-left: 2px solid #dcdfff;
}

/* Style the scrollbar itself (width and height) */
.text-area::-webkit-scrollbar {
    width: 25px;
    /* height: 12px;  */
}

.text-area::-webkit-scrollbar-thumb:hover {
    background: #7981e0;
}



/* Add a media query for smaller screens */
@media only screen and (max-width: 400px) {
    .notepad-container {
      width: 90%;
      border: none;
      margin: 20px auto;
    }
  
    .notepad {
      width: 100%;
      border: none;
      margin: 0;
    }
  
    .text-area {
      width: 100%;
      border: none;
      border-left: 2px solid #7981e0;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
    }
  }